* {
  font-family: "League Spartan", sans-serif, "Roboto";
  font-weight: 500;
}

body {
  background-color: hsl(180, 52%, 96%);
}

.navbar {
  height: 140px;
}

.list {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 124px;
  background-color: hsl(0, 0%, 100%);
  list-style: none;
}

.first-span {
  display: flex;
  width: 50%;
  margin: 24px 0;
}

.second-span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.img {
  height: 100%;
  width: 96px;
}

.info {
  display: grid;
  grid-template-rows: 24px auto 24px;
  align-items: center;
  row-gap: 0.5px;
  margin-left: 36px;
}

.top-info {
  display: inline-flex;
  justify-content: space-between;
}

.center-info {
  display: flex;
  justify-content: start;
  font-size: 26px;
}

.bottom-info {
  display: inline-flex;
  justify-content: space-between;
}

.second-span button {
  width: 96px;
  height: 36px;
  margin: 0 6px;
  background-color: hsl(180, 31%, 95%);
  color: hsl(180, 14%, 20%);
  font-weight: 700;
  font-size: 15px;
  border: none;
}
